# Virtual environment
venv/
.venv/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# SQLite database (auto-created on first run)
tasks.db
tasks.db-journal

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
